.navbar-inverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
    background: #0e0e0e; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
    border-color: #080808;
}

.breadcrumb {
    font-size: 17px;
    font-weight: bold;
    
}

/*.cdb_main_menu {
    color: #ffffff;
}*/






.chimerdb-footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100 */
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}



.sub_menu_lvl{
    font-size: 12px;
}
.sub_menu_slet_opt_on{
    width: 150px;
    margin: 3px;
    padding-left: 5px;
    border: 1px #46b8da solid;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
}
.sub_menu_slet_opt_off{
    width: 150px;
    margin: 3px;
    padding-left: 5px;
    border: 1px #46b8da solid;
    border-radius: 5px;
}

.sub_menu_li_ul_li1{
    padding: 5px 0px 5px 5px;
}


/* ------- d3 tip ------- */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*  D3  Hierarchical Edge Bundling    */

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}


/* D3 Heat map */
/* disable text selection */
svg *::selection {
   background : transparent;
}

svg *::-moz-selection {
   background:transparent;
} 

svg *::-webkit-selection {
   background:transparent;
}
rect.selection {
  stroke          : #333;
  stroke-dasharray: 4px;
  stroke-opacity  : 0.5;
  fill            : transparent;
}

rect.cell-border {
  stroke: #eee;
  stroke-width:0.3px;   
}

rect.cell-selected {
  stroke: rgb(51,102,153);
  stroke-width:0.5px;   
}

rect.cell-hover {
  stroke: #F00;
  stroke-width:0.3px;   
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.text-selected {
  fill: #000;
}

text.text-highlight {
  fill: #c00;
}
text.text-hover {
  fill: #00C;
}
#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.mmAtagcss{
    font-size: 20px; 
    font-weight: bold; 
    color: #ffffff;
}

.mmAtagcss:hover{
    color: #fbb450;
    text-decoration: none;
}


.bold-sub-title{font-size: 30px; font-weight: bold; color: #428bca;}


.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}

.rcorner {
    border-radius: 10px;
    padding: 20px;
}

.rcorner-3 {
    border-radius: 3px;
    padding: 1px;
}

.chimerdb-icon{
	display:inline-block;width:26px; color: #ffffff; border: 1px #3071a9 solid; border-radius:4px; background-color:#3071a9; font-size:12px; font-weight:bold; margin-left:5px;text-align:center;cursor:pointer;
}

.site_link{
	background:purple;color:white;font-weight:bold;margin-left:5px;display:inline-block;width:70px;text-align: center;border-radius: 4px;cursor:pointer;height:25px;line-height:25px;
}

.reference{
	/*height:27px;*/line-height:27px;
}

.shadow{
		box-shadow: 0px 0px 5px #888888;
}

.index-main-feature-li{
	margin-top:10px;
}


.journal_info_small_font{
	font-size: 12px;
}


#article_title{
	font-size:18px;font-weight:bold;
}

.hilight_text {
	font-weight:bold;
}
.h_gene_highlight{
	color:black;
}

.t_gene_highlight{
	color:black;
}

.validation_highlight{
	background-color:#A0A4FF;
}

.disease_highlight{
	background-color:#FF80A8;
}

.highlight_main_sentence{
	background-color:yellow;
}

.colored-abstract-text{
	font-weight:bold;color:#7D4B38;
}

.fixed-span-50{
	display:inline-block;width:80px;text-align:center;
}

#abstract_legend{
	width:230px;border:1px solid gray;
}

#abstract_legend th{
	border:1px solid gray;background:lightgray;
}

#abstract_legend td{
	border:1px solid gray;
}

#abstract_legend td.colored-td{
	width:80px;
}

#abstract_legend td.desc-td{
	width:130px;text-indent: 5px;
}

.author_info_expand{
	display:inline-block;width:20px;height:20px;text-align: center;margin-right:5px;background:green;color:white;
}

.author_info_text{
	font-weight:bold;cursor:pointer;
}

.seq-option-tool-table{
	width:450px;
}

.seq-option-tool-table td.seq-prediction-tool-name{
	width:140px;
}

.seq-option-tool-table td.seq-tool-option-condition{
	width:210px;
}

.seq-option-tool-table td.seq-tool-option-value{
	width:100px;
}



ol.help_main_menu{
	list-style:none;
}


.help_main_menu{
	border:0px solid gray;
}

.help_main_menu span{
	height:30px; line-height:30px; font-weight:bold;
}

#help_main_table{
	margin-top:120px;width:90%;margin-left:5%;
}

td.title-header{
	font-weight:bold;height:30px;line-height:30px;
}

td.first-sub-title-header{
	text-indent: 15px; font-weight:bold;height:30px;line-height:30px;
}

td.first-sub-content {
	padding:15px;
}

td.paper-ref{
	padding:15px;border:0px solid gray;
}

td.second-sub-title-header{
	padding:15px; text-indent:10px; font-weight:bold;
}

div.sep-bar{
	margin-top:15px;
}