/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2016, 1:15:39 AM
    Author     : insoo078
*/

.gene-backbone {
    stroke: #555;
    stroke-width:5;
}

#chimer-seq-viewer-content{
	background:none;border:1px solid gray;
}

#chimer-seq-viewer-controller {
	width:100%;height:30px;margin-bottom:10px;
}
#chimer-seq-viewer-controller .controller-header{
	width:10%;height:30px;line-height:30px;text-align:center;float:left;
}

#chimer-seq-viewer-controller .controller{
	width:90%;height:30px;line-height:30px;background:none;float:left;
}
#chimer-seq-viewer-controller .controller .button{
	width:70px;height:25px;text-align: center;background:gray;margin-top:2.5px;margin-left:10px;float:left;
}

.exon-feature-rect{
	stroke-width:1;
    stroke: rgb(230,230,230);
}

.exon-feature-3p{
	fill: rgb(162,172,91);
}
.exon-feature-5p{
	fill: rgb(249,102,31);
}

.structure-label{
	fill:rgb(243, 243, 243);
		stroke-width:0.2;
		stroke: rgb(230,230,230);
}

.structure-background{
	fill:rgb(253, 253, 253);
		stroke-width:0.2;
		stroke: rgb(230,230,230);	
}